{% style %}

  .accordion__container {
    display: flex;
    background-color: {{ section.settings.background_color }};
    padding: 30px 40px 120px 40px;
    flex-direction: column;
  }

  .accordion__container .accordion {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    padding: 15px;
  }

  .accordion__container .question {
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion__container .question h5 {
    color: #77A5BE;
    font-family: "Antic Didone", Sans-serif;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    font-weight: bold;
  }

  .accordion__container .answer {
    overflow: hidden;
    transition: all 0.3s ease-out;
    max-height: 0;
  }

  .accordion__container .accordion.open .answer {
    transition: all 0.3s ease-out;
  }

  .accordion__container .accordion .question i {
    transform: rotateZ(0deg);
    transition: all 0.3s ease-out;
  }

  .accordion__container .accordion.open .question i {
   transform: rotateZ(180deg);
   transition: all 0.3s ease-out;
  }

{% endstyle %}


<div class="accordion__container">
  {%- for block in section.blocks -%}
    <div class="accordion" onclick="triggerAccordion(event);">
      <div class="question">
        <h5>{{ block.settings.question }}</h5>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="answer">
        {{ block.settings.answer }}
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Accordion",
  "max_blocks": 20,
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFF"
    }
  ],
  "presets": [{
    "name": "Accordion",
    "category": "Text"
  }],
  "blocks": [
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Type your question here"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Type your answer here.</p>"
        }
      ]
    }
  ]
}
{% endschema %}
