{% style %}

  .accordion__container {
    display: flex;
    background-color: {{ section.settings.background_color }};
    padding: 30px 40px 120px 40px;
    flex-direction: column;
  }

  .accordion__container .accordion {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
  }

  .accordion__container .question {
    pointer-events: none;
  }

  .accordion__container .answer {
    height: 100%;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 0;
  }

  .accordion__container .answer.open {
    animation: open 1000ms forwards;
    visibility: visible;
  }

  @keyframes open {
    from {
      max-height: 0;
      visibility: hidden;
    }

    100% {
      overflow-y: auto;
    }

    to {
      max-height: 400px;
    }
  }

{% endstyle %}


<div class="accordion__container">
  {%- for block in section.blocks -%}
    <div class="accordion" onclick="triggerAccordion(event);">
      <div class="question">
        <h5>{{ block.settings.question }} <i class="fa-solid fa-user"></i></h5>
      </div>
      <div class="answer">
        {{ block.settings.answer }}
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Accordion",
  "max_blocks": 20,
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFF"
    }
  ],
  "presets": [{
    "name": "Accordion",
    "category": "Text"
  }],
  "blocks": [
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Type your question here"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Type your answer here.</p>"
        }
      ]
    }
  ]
}
{% endschema %}
