<style>
  .associations__container {
    width: 100%;
    display: flex;
    padding: 0 8%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .associations__container img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    padding: 1.25rem;
  }
</style>

<div class="associations__container" data-aos="fade-up">
  {%- for block in section.blocks -%}
    <img src="{{ block.settings.image | img_url: "master" }}" alt="association-img" />
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Associations",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "slide",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
