{% style %}



{% endstyle %}

<div class="google-reviews">
  <h1>Google Reviews</h1>
</div>

<script type="text/javascript">
  const reviewsURL = {{ 'reviews.json' | asset_url }};
  document.addEventListener('DOMContentLoaded', async () => {
    console.log("CALLED")
    // const resp = await fetch(`https://maps.googleapis.com/maps/api/place/details/json?placeid=${placeId}&sensor=true&key=${googleApiKey}`);
    // const data = await resp.json();
    // console.log(data);
    const resp = await fetch(reviewsURL);
    const data = await resp.json();
    console.log(data);
  }, false);
</script>

{% schema %}
{
  "name": "Google Reviews",
  "settings": [

  ],
  "presets": [{
    "name": "Google Reviews",
    "category": "Text"
  }]
}
{% endschema %}
