<div class="googlemaps__container">
  {%- for block in section.blocks -%}
    <div class="map">
     <iframe src="{{ block.settings.url }}" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  {%- endfor -%}
</div>


{% schema %}
  {
    "name": "Google Maps",
    "settings": [
      
    ],
    "presets": [{
    "name": "Google Maps",
    "category": "Text"
  }],
  "blocks": [
    {
      "type": "url",
      "name": "URL",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}