{% style %}
.percentage-bar {
  transition: all 0.3s ease;
  transition-delay: var(--animation_delay);
  border: 1px solid black;
  position: relative;
  height: 2rem;
  width: 100%;
}

.percentage-bar overlay {
  animation-name: fill;
  animation-duration: 0.3s;
  animation-delay: var(--animation_delay);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
}

@keyframes fill {
  from {width: 0%;}
  to {width: 100%;}
}
{% endstyle %}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div data-aos="{{ section.settings.animation }}" class="percentage-bars">
    {% for block in section.blocks %}
    <div class="percentage-bar" style="--animation_delay: {{ block.settings.animation_delay }};">
      <overlay />
    </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Percentage Bars",
    "settings": [
        {
          "type": "select",
          "id": "animation",
          "options": [
            {
              "value": "fade",
              "label": "Fade"
            },
            {
              "value": "fade-up",
              "label": "Fade Up"
            },
            {
              "value": "fade-down",
              "label": "Fade Down"
            },
            {
              "value": "fade-left",
              "label": "Fade Left"
            },
            {
              "value": "fade-right",
              "label": "Fade Right"
            }
          ],
          "default": "fade",
          "label": "Animation"
        }
    ],
    "blocks": [
      {
        "type": "bar",
        "name": "Bar",
        "limit": 6,
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Label"
          },
          {
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 1,
            "id": "value",
            "label": "Value",
            "default": 0
          },
          {
            "type": "text",
            "id": "animation_delay",
            "label": "Animation Delay",
            "default": "1s"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Percentage Bars",
      "category": "Text"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}