{% style %}
.percentage-bar {
  transition: all 0.3s ease;
  transition-delay: var(--animation_delay)s;
}
{% endstyle %}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div data-aos="{{ section.settings.animation }}" class="percentage-bars">
    {% for block in section.blocks %}
    <div class="percentage-bar" style="--animation_delay: {{ block.settings.animation_delay }};">
    
    </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Percentage Bars",
    "settings": [
        {
          "type": "select",
          "id": "animation",
          "options": [
            {
              "value": "fade",
              "label": "Fade"
            },
            {
              "value": "fade-up",
              "label": "Fade Up"
            },
            {
              "value": "fade-down",
              "label": "Fade Down"
            },
            {
              "value": "fade-left",
              "label": "Fade Left"
            },
            {
              "value": "fade-right",
              "label": "Fade Right"
            }
          ],
          "default": "fade",
          "label": "Animation"
        }
    ],
      "blocks": [
      {
        "type": "bar",
        "name": "Bar",
        "limit": 6,
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Label"
          },
          {
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 1,
            "id": "value",
            "label": "Value",
            "default": 0
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}