{% style %}
.percentage-bars {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
  
.percentage-bar {
  animation-name: color-fill;
  animation-duration: 1s;
  animation-delay: var(--animation_delay);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  border: 1px solid #77a5b7;
  position: relative;
  height: 3rem;
  width: 100%;
  color: #77a5b7;
}

.percentage-bar overlay {
  animation-name: fill;
  animation-duration: 1s;
  animation-delay: var(--animation_delay);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #77a5b7;
}

.percentage-bar span {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

@keyframes fill {
  from {width: 0%;}
  to {width: var(--animation_fill, 100%);}
}

@keyframes color-fill {
  from {color: #77a5b7;}
  to {color: white;}
}
{% endstyle %}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div data-aos="{{ section.settings.animation }}" class="percentage-bars">
    {% for block in section.blocks %}
    <div class="percentage-bar" style="
      --animation_delay: {{ block.settings.animation_delay }};
      --animation_fill: {{ block.settings.value }}%;">
      <overlay></overlay>
        <span>{{ block.settings.label }}</span>
    </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Percentage Bars",
    "settings": [
        {
          "type": "select",
          "id": "animation",
          "options": [
            {
              "value": "fade",
              "label": "Fade"
            },
            {
              "value": "fade-up",
              "label": "Fade Up"
            },
            {
              "value": "fade-down",
              "label": "Fade Down"
            },
            {
              "value": "fade-left",
              "label": "Fade Left"
            },
            {
              "value": "fade-right",
              "label": "Fade Right"
            }
          ],
          "default": "fade",
          "label": "Animation"
        }
    ],
    "blocks": [
      {
        "type": "bar",
        "name": "Bar",
        "limit": 6,
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Label"
          },
          {
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 1,
            "id": "value",
            "label": "Value",
            "default": 0
          },
          {
            "type": "text",
            "id": "animation_delay",
            "label": "Animation Delay",
            "default": "1s"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Percentage Bars",
      "category": "Text"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}