<div style="width: 100%;height: clamp({{ section.settings.min_height }}px, {{ section.settings.height }}vw, {{ section.settings.max_height }}px);">

</div>

{% schema %}
{
    "name": "Spacer",
    "tag": "section",
    "class": "section",
    "presets": [{
        "name": "Spacer",
        "category": "Text"
    }],
    "settings": [
        {
            "type": "range",
            "id": "min_height",
            "label": "Min Height",
            "step": 5,
            "min": 0,
            "max": 200,
            "unit": "px",
            "default": 40
        },
        {
            "type": "range",
            "id": "height",
            "label": "Height",
            "step": 0.5,
            "min": 0,
            "max": 50,
            "unit": "%",
            "default": 0
        },
        {
            "type": "number",
            "id": "max_height",
            "label": "Max Height",
            "default": 1200
        }
    ]
}
{% endschema %}