{% style %}

  .two-column__container {
    display: flex;
    background-color: {{ section.settings.background_color }};
    gap: 4rem;
  }


{% endstyle %}


<div class="two-column__container" id="{{ section.id }}">

</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const sectionId = {{ section.id | json }};
    console.log(sectionId);
  }, false);
</script>

{% schema %}
{
  "name": "Two column",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFF"
    }
  ],
  "presets": [{
    "name": "Two column",
    "category": "Text"
  }]
}
{% endschema %}
